*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*---- HEADER ----*/

.header__topo{
    background-color: #e2f3ff;
    padding: 15px;
    display: flex;
}
.header__circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}
.header__circle--1{
    background-color: #1885df;
}
.header__circle--2{
    background-color: #a391ff;
}
.header__circle--3{
    background-color: #9b8476;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
    height: 120px;
}
.header__logo{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #515a79;
}
.header__list{
    display: flex;
}
.header__item{
    list-style: none;
    margin-left: 30px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #515a79;
    cursor: pointer;

}
.header__item:hover{
    color:  #9da4bd;
    padding: 10px;
    transition: 0.4s;
}

/*----- MAIN -----*/
.main__slide{
    background-color: #515a79;
    height: 500px;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.main__chamada{
    width: 600px;
    color: white;
}
.main__title{
    font-size: 40px;
    line-height: 40px;
}
.main__text{
    color:  #99a0b9;
    font-size: 14px;
    padding: 20px 0px;
    line-height: 25px;
}
.main__btn{
    text-decoration: none;
    border:none;
    outline: none;
    font-size: 15px;
    padding: 10px;
    width: 135px;
    background-color: #7ddf96;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.main__btn:hover{
    background-color: #5cc075;
    color: white;
}
.main__icon{
    position: absolute;
    bottom: 30px;
    color:  #99a0b9;
    font-size: 20px;
}
.main__iphone{
    height: 560px;



}

/*---- FEATURES ----*/

.features{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.features__title{
    width: 600px;
    text-align: center;    
    margin-bottom: 100px;
}
.features__subtitle{
    font-size: 45px;
    color: #515a79;
    font-weight: bold;
    padding-bottom: 10px;
}
.features__text{
    color: #999fb3;
    line-height: 25px;
}
.features__containeritens{
    display: flex;
    width: 100%;
    padding: 0 150px;
    flex-wrap: wrap;
    justify-content: center;
}
.features__itens{
    width: 830px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.features__icon{
    font-size: 100px;
    margin-right: 20px;
    color: #515a79;
}
.features__info{
    width: 620px;
}
.features__icon:hover{
    color: #7ddf96;
    transition: 1s;
}
.features__itenstitle{
    font-size: 25px;
    font-weight: bolder;
    color: #515a79;
    margin-bottom: 10px;
}
@media screen and (max-width:1440px){
    .features__itens{
        width: 600px;
    }
    
}



    
